In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
raw_df = pd.read_csv('data/CCdata.csv')
raw_df.T

,0,1,2,3,4,5,6,7,8,9,...,8940,8941,8942,8943,8944,8945,8946,8947,8948,8949
CUST_ID,C10001,C10002,C10003,C10004,C10005,C10006,C10007,C10008,C10009,C10010,...,C19181,C19182,C19183,C19184,C19185,C19186,C19187,C19188,C19189,C19190
BALANCE,40.9007,3202.47,2495.15,1666.67,817.714,1809.83,627.261,1823.65,1014.93,152.226,...,130.839,5967.48,40.8297,5.87171,193.572,28.4935,19.1832,23.3987,13.4576,372.708
BALANCE_FREQUENCY,0.818182,0.909091,1,0.636364,1,1,1,1,1,0.545455,...,1,0.833333,1,0.5,0.833333,1,1,0.833333,0.833333,0.666667
PURCHASES,95.4,0,773.17,1499,16,1333.28,7091.01,436.2,861.49,1281.6,...,591.24,214.55,113.28,20.9,1012.73,291.12,300,144.4,0,1093.25
ONEOFF_PURCHASES,0,0,773.17,1499,16,0,6402.63,0,661.49,1281.6,...,0,0,0,20.9,1012.73,0,0,0,0,1093.25
INSTALLMENTS_PURCHASES,95.4,0,0,0,0,1333.28,688.38,436.2,200,0,...,591.24,214.55,113.28,0,0,291.12,300,144.4,0,0
CASH_ADVANCE,0,6442.95,0,205.788,0,0,0,0,0,0,...,0,8555.41,0,0,0,0,0,0,36.5588,127.04
PURCHASES_FREQUENCY,0.166667,0,1,0.083333,0.083333,0.666667,1,1,0.333333,0.166667,...,1,0.833333,1,0.166667,0.333333,1,1,0.833333,0,0.666667
ONEOFF_PURCHASES_FREQUENCY,0,0,1,0.083333,0.083333,0,1,0,0.083333,0.166667,...,0,0,0,0.166667,0.333333,0,0,0,0,0.666667
PURCHASES_INSTALLMENTS_FREQUENCY,0.083333,0,0,0,0,0.583333,1,1,0.25,0,...,0.833333,0.666667,0.833333,0,0,0.833333,0.833333,0.666667,0,0
CASH_ADVANCE_FREQUENCY,0,0.25,0,0.083333,0,0,0,0,0,0,...,0,0.666667,0,0,0,0,0,0,0.166667,0.333333
CASH_ADVANCE_TRX,0,4,0,1,0,0,0,0,0,0,...,0,13,0,0,0,0,0,0,2,2
PURCHASES_TRX,2,0,12,1,1,8,64,12,5,3,...,6,5,6,1,2,6,6,5,0,23
CREDIT_LIMIT,1000,7000,7500,7500,1200,1800,13500,2300,7000,11000,...,1000,9000,1000,500,4000,1000,1000,1000,500,1200
PAYMENTS,201.802,4103.03,622.067,0,678.335,1400.06,6354.31,679.065,688.279,1164.77,...,475.523,966.203,94.4888,58.6449,0,325.594,275.861,81.2708,52.55,63.1654
MINIMUM_PAYMENTS,139.51,1072.34,627.285,NaN,244.791,2407.25,198.066,532.034,311.963,100.302,...,82.7713,861.95,86.2831,43.4737,NaN,48.8864,NaN,82.4184,55.7556,88.289
PRC_FULL_PAYMENT,0,0.222222,0,0,0,0,1,0,0,0,...,1,0,0.25,0,0,0.5,0,0.25,0.25,0
TENURE,12,12,12,12,12,12,12,12,12,12,...,6,6,6,6,6,6,6,6,6,6